{% extends "accounts/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="content-section">
    <form method="post" novalidate>
        {% csrf_token %}
       <fieldset class='form-group'>
            <legend>Sign Up</legend>
				{{ form.username|add_class:"form-group col-md-6 mb-3"|attr:"placeholder:Username" }}
				{{ form.first_name|add_class:"form-group col-md-6 mb-3"|attr:"placeholder:First Name" }}
				{{ form.last_name|add_class:"form-group col-md-6 mb-3"|attr:"placeholder:Last Name" }}
				{{ form.email|add_class:"form-group col-md-6 mb-3"|attr:"placeholder:Email" }}
				{{ form.password1|add_class:"form-group col-md-6 mb-3"|attr:"placeholder:Password" }}
				{{ form.password2|add_class:"form-group col-md-6 mb-3"|attr:"placeholder:Confirm Password" }}
		</fieldset>
        <div class="form-group">
            <button class="btn btn-primary" type=" submit ">Sign Up</button>
			</div>
		</form>
		<div>
			<small class="text-muted ">Already Have an account? <a href="{% url 'accounts:login' %} ">Login Here</a>
			</small> 
		</div>
	</div>
{% endblock %}
