{% extends "builder/base2.html" %}
{% load staticfiles %}
{% block content %}
<header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Choose A Template!</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Pick a template you like and click Get Started to begin!</p>
          </div>
        </div>
      </div>
    </header>
    
    <section class="p-0" id="portfolio">
    	 
      <div class="container-fluid p-0">
        <div class="row no-gutters">
          <div class="col-lg-4 col-sm-6">
          	<a href="/accounts/login">Resume Traditional</a>
              <img class="img-fluid" src="{% static 'img/portfolio/thumbnails/1.png' %}" alt="">
          </div>
          <div class="col-lg-4 col-sm-6">
              <a href="/accounts/login">Resume Improved</a>
              <img class="img-fluid" src="{% static 'img/portfolio/thumbnails/2.png' %}" alt="">
          </div>
          <div class="col-lg-4 col-sm-6">
            <a href="/accounts/login">Resume Blue Tabs</a>
              <img class="img-fluid" src="{% static 'img/portfolio/thumbnails/3.png' %}" alt="">
          </div>
    </section>
{% endblock %}