{% extends "builder/base.html" %}
{% load widget_tweaks %}
{% block content %}
  <div class="content-section">
  	<fieldset class='form-group'>
    <legend class="border-bottom mb-4">Enter Details</legend>
    <form method="post">
    {% csrf_token %}
    <h5>Personal Information</h5>
    {{ form.first_name|add_class:"form-group col-md-6 mb-0"|attr:"placeholder:First Name" }}
    {{ form.last_name|add_class:"form-group col-md-6 mb-0"|attr:"placeholder:Last Name" }}
    {{ form.birth_month|add_class:"form-group col-md-6 mb-0"|attr:"placeholder:Birth Month" }}
    {{ form.birth_day|add_class:"form-group col-md-6 mb-0"|attr:"placeholder:Birth Day" }}
    {{ form.birth_year|add_class:"form-group col-md-6 mb-0"|attr:"placeholder:Birth Year" }}
    {{ form.phone|add_class:"form-group col-md-6 mb-0"|attr:"placeholder:Phone Number" }}
    {{ form.email|add_class:"form-group col-md-6 mb-0"|attr:"placeholder:Email" }}
    {{ form.address|add_class:"form-group col-md-6 mb-0"|attr:"placeholder:Address" }}
    {{ form.city|add_class:"form-group col-md-6 mb-0"|attr:"placeholder:City" }}
    {{ form.country|add_class:"form-group col-md-6 mb-0"|attr:"placeholder:Country" }}
    {{ form.zip_code|add_class:"form-group col-md-6 mb-0"|attr:"placeholder:Zip Code" }}
    {{ form.summary|add_class:"form-group col-md-6 mb-0"|attr:"placeholder:Summary" }}
    <h5>Educational Background</h5>
    {{ form.degree|add_class:"form-group col-md-6 mb-0"|attr:"placeholder:Degree" }}
    {{ form.school|add_class:"form-group col-md-6 mb-0"|attr:"placeholder:School" }}
    {{ form.school_address|add_class:"form-group col-md-6 mb-0"|attr:"placeholder:School Address" }}
    {{ form.status|add_class:"form-group col-md-6 mb-0"|attr:"placeholder:Status :e.g. Graduated,Graduating,Enrolled" }}
    {{ form.month_status|add_class:"form-group col-md-6 mb-0"|attr:"placeholder:Month Graduated" }}
    {{ form.year_status|add_class:"form-group col-md-6 mb-0"|attr:"placeholder:Year Graduated" }}
    <h5>Employment History</h5>
    {{ form.job_title|add_class:"form-group col-md-6 mb-0"|attr:"placeholder:Previous Job Title" }}
    {{ form.company_name|add_class:"form-group col-md-6 mb-0"|attr:"placeholder:Previous Company Name" }}
    {{ form.company_address|add_class:"form-group col-md-6 mb-0"|attr:"placeholder:Company Address" }}
    {{ form.company_month_f|add_class:"form-group col-md-6 mb-0"|attr:"placeholder:Worked From Month" }}
    {{ form.company_year_f|add_class:"form-group col-md-6 mb-0"|attr:"placeholder:Worked From Year" }}
    {{ form.company_month_t|add_class:"form-group col-md-6 mb-0"|attr:"placeholder:Worked To Month" }}
    {{ form.company_year_t|add_class:"form-group col-md-6 mb-0"|attr:"placeholder:Worked To Year" }}
    {{ form.hobbies|add_class:"form-group col-md-6 mb-0"|attr:"placeholder:Hobbies" }}
    {{ form.skills|add_class:"form-group col-md-6 mb-0"|attr:"placeholder:Skills" }}
    {{ form.languages|add_class:"form-group col-md-6 mb-0"|attr:"placeholder:Languages" }}
    {{ form.refrerences|add_class:"form-group col-md-6 mb-0"|attr:"placeholder:References" }}
    </fieldset>
    <div class="form-group">
				<button class="btn btn-primary btn-x" type="submit">Submit</button>
			</div>
		</form>
		<div>
    


  </div>
{% endblock %}

